.footer {
    background-color: #314233;
    margin-top: 2rem;
    padding-top: 2rem;
    color: #f2e8e1;
}
.foo a{
    background-color: #314233;
    color:#f2e8e1;
    text-decoration: none;
}
.logs {
    background-color: #f2e8e1;
    margin-left: 2rem;
}
.foo a:hover{
    color:#f2e8e1;
}
.col-md-3 a{
    text-decoration: none;
    background-color: #314233;
    color: #f2e8e1;
}
.col-md-3 a:hover{
    color:#f2e8e1;
}
.col-md-4 a{
    text-decoration: none;
    background-color: #f2e8e1;
    color: #314233;
}
.col-md-4 a:hover{
    color:white;
}