.col-lg-3 img{
    width: 95%;
    height: 95%;
    justify-content: center;
 }
.col-lg-3 img:hover{
   transition: transform .2s;
   transform: scale(1.1);
}
.row{
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}
.row .col-lg-3 {
    position: relative;
    margin-left: 2px;
    padding: 2rem;
    
  }
  
.img-fluid {
    display: block;
  }
  
.overlay {
    position: absolute;
    bottom: 0.1;
    left: 0;
    right: 0;
    background-color: #f2e8e1;
    overflow: hidden;
    width: 85%;
    height: 15%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  
.col-lg-3:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    overflow: hidden;
  }
.foot {
    text-align: end;
}
.head{
    text-align: center;
}
.gallery{
    background-color: #f2e8e1;
    display: block;
}
.gallery h1{
    padding: 20px;
}
  
