#order {
    text-align: center;
    background-color: #314233 ;
    margin: 0%;
    color: #f2e8e1;
}
#order .btn{
    background-color: #314250;
    margin-bottom: 2rem;
}
#order h1{
    padding: 3rem;
}
#order a{
    text-decoration: none;
    background-color: #314250;
}
#order a:hover{
    color: #f2e8e1;
}