.home{
    padding-top: 4rem;
   background-image: url(https://plus.unsplash.com/premium_photo-1667538960183-82690c60a2a5?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGdyZXklMjBwaG90b2dyYXBoeSUyMGltYWdlc3xlbnwwfHwwfHx8MA%3D%3D);
   background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.7); 
  background-blend-mode: multiply;
}
.home .material-symbols-outlined{
    margin-top: 3rem;
    color: #3944bc;
}
.home h1{
    font-size: 5rem;
    color: #3944bc;
}
.home p{
    color: #fff;
    font-size: 2rem;
}
.home p:hover{
    color: #fff;
}
.home .homespan{
    color: #fff;
}
.home .c1a{
    border-bottom: 0px solid #000;
}
.home a {
    font-size: 1.125rem;
    text-decoration: none;
    font-weight: 600;
    color: #3944bc;
    padding: 0.2rem;
    border-bottom: 2px solid #999;
    border-radius: 10%;
}
.home a:hover{
    color: #999;
}
@media screen and (max-width: 560px) {
    .home h1{
        font-size: 2.5rem;
    }
    .home p{
        font-size: 1rem;
    }
    .home .material-symbols-outlined{
        margin-top: 2rem;
        color: #3944bc;}
}

/* additonal styling */

.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.9s ease, transform 0.9s ease;
}
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}
